body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  text-align: center;
  font-family: Arial, sans-serif;
}

.inputDate {
  background-color: white;
  border: 2px solid grey;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.section {
  flex: 1;
  min-height: 250px;
  border-radius: 8px;
  padding: 15px;
}

button {
  display: block;
  margin: 10px auto;
  padding: 10px;
}

footer {
  background-color: rgb(0, 48, 87);
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 110px;
}

footer img {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 4px;
}

footer p {
  color: rgb(239, 239, 239);
}